u:root{
--cinza: #aaa;
--vermelha: #e93d50;
--vermelha-escura: #af303f;
--branca: #fff;
--luz: rgb(229,255,0);
}

body{
    align-items: center;
    background: linear-gradient(45deg, #4ca8cc 0%, #77b4fa 100% );
    display: flex;
    justify-content: center;
}